/* GENERAL LAYOUT */

*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: inherit;
	max-width: 100%;
}

/* Pages that are centered */

.center {
	width: 100%;
	max-width: 42rem;
	margin: 6rem auto;
	padding: 0 1rem;

	img {
		max-width: 42rem;
	}
}

.layout {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

li {
	margin-bottom: 0.25rem;
}

/* CATEGORIES PAGE LAYOUT */

.posts-list-category {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		margin-bottom: 2rem;
	}

	.posts-list-footer-categories {
		list-style-type: none;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		margin-left: 0;
		margin: 0;

		li {
			list-style-type: none;
			padding: 0;
		}
	}
}

/* ARTICLES PAGE LAYOUT */

.posts-list {
	list-style-type: none;
	padding: 0;

	li {
		margin-bottom: 6rem;
	}

	img + h2 {
		margin-top: 1rem;
	}

	a {
		display: block;
	}
}

/* PER POST LAYOUT */

.post-page {
	width: 100%;
	margin: 6rem auto;
	padding: 0 1rem;
	display: flex;
	/* grid-template-columns: 2fr 1fr; */
	justify-items: center;
	/* align-items: center; */
	flex-wrap: wrap;
	justify-content: space-evenly;

	article {
		width: 100%;
		max-width: 42rem;
	}
}

.posts-recent {
	list-style-type: none;
	padding: 0;
	a {
		display: block;
	}
}

.post-sidebar {
	/* align-self: end; */
	justify-self: end;
	max-width: 20rem;
}

.post {
	h1 {
		margin-bottom: 1rem;
	}

	.meta {
		font-size: 0.8rem;
		margin-bottom: 4rem;
	}

	img + h1 {
		margin-top: 1rem;
	}
}

.post-footer__categories {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-bottom: 0;
}

.post-footer li {
	display: inline-block;
	font-size: 0.8rem;
	justify-content: left;
	margin-bottom: 0;
}

.post-footer a {
	background-color: var(--accent);
	padding: 0.5rem 0.75rem;
	font-family: var(--primaryFont);
	font-weight: bold;
	justify-content: left;
	text-decoration: none;
}

.post-footer-categories a {
	color: goldenrod;
	padding: 0.5rem 0.75rem;
	font-family: var(--primaryFont);
	font-weight: bold;
	justify-content: left;
	text-decoration: none;
}

.post-footer-categories li {
	display: inline-block;
	font-size: 0.8rem;
	justify-content: left;
	font-size: 1.6rem;
}

.icon-link {
	position: relative;
}

.icon-link::before {
	content: url('/link.svg');
	fill: currentColor;
	position: absolute;
	left: -1rem;
	width: 1rem;
	height: 1rem;
	top: 0;
	opacity: 0.2;
	transition: opacity 0.2s;
}

@media (min-width: 48rem) {
	.icon-link::before {
		left: -1.5rem;
	}
}

.icon-link:hover::before {
	opacity: 1;
}

/* HOMEPAGE HERO LAYOUT */

.hero {
	display: flex;
	flex-direction: column;
	min-width: 100%;
	min-height: 75vh;
	padding-top: 10vh;
	padding-bottom: 1%;
	height: auto;
	background-image: url('/media/assets/herobground.webp');
	background-size: cover;
	background-position: center;
}

.hero h1 {
	font-size: clamp(2rem, calc(4rem + 1vw), 8rem);
	text-align: center;
	margin-bottom: 0.5rem;
	color: var(--white);
	filter: drop-shadow(2px 2px #333);
	/* text-shadow: 2px 2px 8px #000000ae; */
}

.hero h1 p {
	display: inline;
	padding: 0;
	margin: 0;
	border: 0;
	color: var(--accent);
	line-height: normal;
}

.hero .icon {
	display: flex;
	flex-direction: column;
	align-self: center;
	margin-top: auto;
	margin-bottom: 0;
}

.hero p {
	display: block;
	text-align: center;
	font-weight: bold;
	padding: 0;
	margin: 3;
	border: 0;
	color: var(--white);
	line-height: normal;
}

.articles-container {
	width: 100%;
	max-width: 42rem;
	margin: 6rem auto;
	padding: 0 1rem;
}

/* HOME PAGE BODY LAYOUT */

.main-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-self: center;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	/* background-color: #FFFFFF; */
}

.home-body {
	display: flex;
	flex-direction: column;
	/* background-color: var(--darker); */

	section {
		/* top right bottom left */
		padding: 0em 7em 0em 7em;
	}

	h2 {
		/* color: var(--white); */
		margin: 2rem 0 2rem;
	}
}

.home-posts-grid {
	padding: 3rem 3rem 3rem 3rem;

	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

	color: var(--white);
	background-color: var(--darker);
}

.home-grid-item {
	display: flex;
	max-width: 40rem;
	flex-wrap: wrap;
	font-size: 12px;
	margin: 1rem 1rem 1rem 1rem;

	img {
		margin: 1rem 2rem 1rem 0rem;
		max-width: 16rem;
		max-height: 10rem;
		object-fit: cover;
	}

	article {
		margin: 1rem 1rem 1rem 1rem;
		max-width: 15rem;
	}

	h6 {
		color: var(--white);
		margin: 0rem 0 1rem;
	}

	.author {
		color: var(--white);
	}

	.tabs {
		margin-bottom: 40px;
	}
}

.home-tab-component {
	.tab-elements {
		display: flex;
		justify-content: center;
	}
}

.home-tab-elements {
	ul {
		display: flex;
		justify-content: center;
		padding: 0;
		list-style-type: none;
	}

	li {
		margin: 0 16px;
		font-size: 18px;
		color: #555;
		cursor: pointer;
	}

	.active {
		color: green;
		border-bottom: 2px solid green;
	}
}

.featured-articles,
.dcs-articles,
.latest-articles {
	margin: 15px;
}

.home-posts-list {
	list-style-type: none;

	padding: 0;
	a {
		cursor: pointer;
	}
	li {
		margin-bottom: 6rem;
	}

	img + h2 {
		margin-top: 1rem;
	}

	a {
		display: block;
	}
}
.latest-articles {
	.initial-post {
		.post-image {
			margin-right: 15px;
		}
		display: flex;
		background-color: gray;
		border-top-right-radius: 15px;
	}
	.article-container {
		display: grid;
		grid-template-columns: auto auto auto;
		border: none;
		margin: 0;
		/*grid-template-columns: repeat(3);*/
	}
	.grid-articles {
		border: none;
		padding: 10px;
		border-bottom-color: black;
	}
}
/**/
/*.home-posts-grid {*/
/*	padding: 3rem 3rem 3rem 3rem;*/
/**/
/*	display: flex;*/
/*	flex-direction: row;*/
/*	justify-content: center;*/
/*	flex-wrap: wrap;*/
/**/
/*	color: var(--white);*/
/*	background-color: var(--darker);*/
/*}*/
